    <div class="flex items-center justify-between mx-12 my-6">
        <div class="text-3xl" style="color: #033649;">Clientes</div>
        <div class="example-button-row">
            <button routerLink="guardar-cliente/0"  mat-flat-button style="background-color: #3dcd4e;color: #fff;border-radius: 50px;"><i class="mr-2 fa-solid fa-plus" style="color: #fff;"></i>Nuevo Cliente</button>
        </div>
    </div>
    
    <div class="mx-12">
        <app-listado-clientes ></app-listado-clientes>
    </div>